<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


<context:component-scan base-package="com.capg.mvc.*"/>

<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="driverManagerDataSource">
<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
<property name="username" value="system"/>
<property name="password" value="a"/>
</bean>

<bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" name="localContainerEntityManagerFactoryBean">
<property name="dataSource" ref="driverManagerDataSource"/>
<property name="packagesToScan" value="com.capg.mvc.*"/>
<property name="jpaVendorAdapter">
	<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
	<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/>
	<property name="generateDdl" value="true"/>
	<property name="showSql" value="true"/>
	</bean>
</property>
</bean>

<bean class="org.springframework.orm.jpa.JpaTransactionManager" name="jpaTransactionManager" >
<property name="entityManagerFactory" ref="localContainerEntityManagerFactoryBean"/>
</bean>

<tx:annotation-driven transaction-manager="jpaTransactionManager"/>


<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<property name="prefix" value="/WEB-INF/pages/"/>
<property name="suffix" value=".jsp"/>
</bean>
</beans>